body {
  background-color: rgb(255, 255, 255);
}

h1 {
  color: grey;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-family: verdana;
  /*font-size: 20px;*/
}

table
{
    border-collapse: collapse;
    margin: auto;
    width: 50%;
    height: 50%;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    text-align: center;
}

caption {
  padding: 2%;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
}

/* Style des liens de la barre de navigation */
.menuDuHaut a {
  /*float: left;
  display: block;*/
  color: #f2f2f2;
  text-align: center;	
  padding: 10px 50px;    /*espacement (haut+bas puis droite+gauche*/
  text-decoration: none; /*enlever le fait que les liens sont soulignés*/
}

/* Style de la barre de navigation */
.menuDuHaut {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  overflow: hidden; /*avoir la barre du menu jusqu'au bout*/
  background-color: #333; /*gris-noir*/
  width: 100%;
}

/* Change de couleur avec passage de la souris */
.menuDuHaut a:hover {
  background-color: #ddd; /*fond en blanc-gris*/
  color: black;		  /*écriture en noir-gris*/
}

.formulaire {
  text-align: center;
  background-color: rgb(192, 187, 187);
  padding: 10px 50px; 
}

.formulaireModif {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 50px; 
}

.insideForm {
  text-align: center;
  padding: 5px;
}

.tableau{
  text-align: center;
  width: 100%;
  height: 10%;
  padding: 2% ;
}


